<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>MyAppreciation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<form action="send" method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 25%">
        <h1>MyAppreciation</h1>
        <h2>Get started 🤗</h2>

          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Mom's email</label>
              <input class="u-full-width" type="email" placeholder="mom@iloveyou.com" id="receiver" name="mom">
            </div>

          </div>

          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="you@yours.com" id="receiver" name="sender">
            </div>

          </div>
      </div>
  <label for="exampleMessage">Message to go with your video</label>
  <textarea class="u-full-width" placeholder="Hi mom …" id="exampleMessage"></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
      <div class="card">
      <div class="lijntje"></div>
       <h2>Let's record 🎥</h2>
        <p class="question">Say hello to your mother and say that you are recording a video for mother's day, to show her how much you appreciate her</p>
        <p class="question">Then finish the following sentences:</p> 
         <p class="question1">You know my favourite dish was always...</p>
         <p class="question1">But the coolest thing about you is...</p> 
        <p class="question">After that say goodbye and tell her that you love her!</p>
      <div class="startings">
          <label for="video">Push Choose File to start recording</label>
          <input type="file" name="video" accept="video/*" capture>
          <input type="submit" value="Send">
      </div>      
    </div>
    </div>
</div>
    
</form>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
